<div class="about-us pt-16">
    <div class="container mx-auto flex items-center flex-wrap mb-4">
      <div class="w-full lg:w-1/2 lg:p-8">
        <p class="p-4 md:p-0 md:pb-8 text-black font-bold font-sans leading-normal text-3xl md:text-5xl">O nama</p>
        <p class="p-4 md:p-0 text-gray-600 text-base md:text-lg leading-relaxed font-normal">{{ .subtitle }}</p>
      </div>
      <div class="w-full lg:w-1/2">
        <img src="/media/uploads/stk-bugojno.jpg" class="pt-10 lg:pt-0 object-cover md:rounded-lg md:shadow-2xl">
      </div>
    </div>
    <div class="container mx-auto flex items-center flex-wrap">
      <div class="w-full lg:w-1/2 order-last md:order-first">
        <img src="/media/uploads/stiga-ball.jpg" class="pb-10 lg:pb-0 object-cover md:rounded-lg md:shadow-2xl">
      </div>
      <div class="w-full lg:w-1/2 lg:p-8">
        <p class="p-4 md:p-0 md:pb-8 text-black font-bold font-sans leading-normal text-3xl md:text-5xl">Zašto igrati stoni tenis?</p>
        <p class="p-4 md:p-0 text-gray-600 text-base md:text-lg leading-relaxed font-normal">{{ .desc }}</p>
      </div>
    </div>
    <div class="blur py-32 lg:py-40 mx-auto text-center px-6 opacity-100">
    <p class="text-white text-4xl md:text-5xl leading-relaxed font-normal pb-12 lg:pb-16 font-serif">Stoni tenis?</p>
      <span class="text-white text-6xl md:text-8xl font-semibold font-serif leading-relaxed">„Bilo ko, bilo kad, <br>bilo gdje“!<br></span>
  </div>
</div>
