{{ $data := index .Site.Data.footer }}

<footer class="footer pt-16">
  <div class="container mx-auto flex-grow flex flex-wrap justify-center text-center">
    <div class="p-5 pb-0 pt-0 w-full sm:w-full lg:w-4/12 mb-12 flex justify-center items-center">
      <a href="/" class="text-xl font-mono logo"><img src="/media/uploads/stk-logo2.png" width="130" height="130" alt=""></a>
    </div>
    <div class="p-5 pb-0 pt-0 w-full sm:w-full lg:w-4/12 mb-12 text-center md:text-center">
      <h2 class="font-bold text-white font-sans text-lg md:text-xl tracking-widest mt-5 headline-border uppercase">
        {{ $data.ourLocation.title }}</h2>
      <p class="w-full text-sm md:text-lg text-white mt-8 font-normal text-center">{{ $data.ourLocation.text }}</p>
    </div>
    <div class="p-5 pb-0 pt-0 w-full sm:w-full lg:w-4/12 mb-12 text-center md:text-center">
      <h2 class="font-bold text-white font-sans text-lg md:text-xl tracking-widest mt-5 headline-border uppercase">
        {{ $data.ourContact.title }}</h2>
      <div class="mt-8 mb-2">
        <span class="w-full text-sm md:text-lg text-white font-normal text-center">{{ $data.telephone.text }}</span>
        <a href="tel:{{ $data.telephone.number }}"
          class="text-base md:text-lg text-white">{{ $data.telephone.number }}</a>
      </div>
      <div class="mb-4">
        <span class="w-full text-sm md:text-lg text-white font-normal text-center">{{ $data.email.text }}</span>
        <a href="mailto:{{ $data.email.email }}"
          class="text-base md:text-lg text-white">{{ $data.email.email }}</a>
      </div>
      <div class="flex flex-row text-black justify-center">
        <a href="{{ $data.socialShare.facebook }}">
          <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            class="w-8 h-8 text-white ml-2 hover:bg-blue-600 transition-all duration-500 rounded-full" viewBox="0 0 24 24">
            <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
  <div class="flex pb-8 px-3 m-auto text-center justify-center text-gray-400 text-sm flex-col md:flex-row max-w-6xl">
    <div class="mt-2">
      © Copyright MTHIT 2021.
    </div>
  </div>
</footer>
