<section class="bg-red-200 relative">
  <!--<div class="flex items-center mx-auto absolute top-12 right-10">
    <div class="z-20 text-white animated">
      <a href="#" class="inline-block h-28 w-32 lg:h-32 lg:w-44 bg-red-800 text-white text-center no-underline hover:bg-blue-200 p-4 rounded pb-4">Dokumenti
        <img class="w-10 h-10 lg:w-12 lg:h-12 mx-auto mt-4" src="/media/uploads/icon-document.png" alt=""></a>
    </div>
  </div>//-->
  <div class="hero-image hero-image flex relative">
    <div class="hero-image__title absolute md:p-4 lg:pr-52 z-10">
      <div class="py-4 md:px-5">
        <div class="animated mb-3 text-2xl md:text-4xl">
          <h3 class="text-red-700 text-4xl md:text-6xl leading-tight font-sans pb-4">{{ .headline }}</h3>
          <h2 class="uppercase font-sans text-red-700 font-bold leading-tight text-4xl md:text-5xl">
            {{ .headline2 }}</h2>
        </div>
      </div>
    </div>
  </div>
</section>
