<div class="container pt-16 mx-auto">
  <div class="flex flex-wrap text-center w-full">
    <div class="sm:w-1/2 px-4">
      <div class="h-auto overflow-hidden">
        <img alt="content" class="object-cover object-center h-full w-full" src="/media/uploads/man-team.jpg">
      </div>
      <h2 class="title-font text-2xl font-medium text-black hover:text-red-700 mt-6 mb-3 uppercase">Man</h2>
    </div>
    <div class="sm:w-1/2 px-4">
      <div class="h-auto overflow-hidden">
        <img alt="content" class="object-cover object-center h-full w-full" src="/media/uploads/woman-team.jpg">
      </div>
      <h2 class="title-font text-2xl font-medium text-black hover:text-red-700 mt-6 mb-3 uppercase">Woman</h2>
    </div>
  </div>
</div>
