{{ define "main" }}
<main>
  {{ partial "hero" .Params.hero }}
  {{ with (.Site.GetPage (printf "/%s" "nas-tim")) }}
  <div class="container mx-auto py-16">
    <h2
      class="text-black font-bold font-sans leading-normal text-3xl md:text-5xl mx-auto flex justify-center mb-20 md:mb-24 border-red">
      {{ .Params.title }}</h2>
    <div class="flex flex-wrap">
      {{ range last 2 .Pages }}
      {{ partial "our-team" . }}
      {{ end }}
    </div>
    {{ end }}
  </div>
  <div class="container mx-auto py-16">
    {{ with (.Site.GetPage (printf "/%s" "vijesti")) }}
    <h2
      class="text-black font-bold font-sans leading-normal text-3xl md:text-5xl mx-auto flex justify-center mb-20 md:mb-24 border-red">
      {{ .Params.title }}</h2>
    {{ range $i, $p := first 3 .RegularPages }}
    {{ partial "news-item" (dict "context" . )}}
    
    {{ end }}
  </div>

  {{ end }}

 
  {{ partial "gallery" .Params.gallery }}
  {{ partial "about-us" .Params.aboutUs }}
  {{ partial "event" .Params.event }}


  <div class="grid">
  </div>
  </div>
</main>
{{ end }}
